.container {
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(#dddf00, #eeef20);
    color: #000000;
    max-width: max-content;
    border: none;
    cursor: pointer;
}

.botao.icone-play {
    display: flex;
    align-items: center;
}

.botao.icone-play::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background: url("../../img/icone/botao-play.png");
}

.titulo {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
}

.sub-titulo {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}