.introducao-bg {
    background-color: #7b2cbf;
    border-top: .5px solid #f5f5f5;
    color: #f5f5f5;
    position: relative;
}

.introducao-bg::after{
    content: '';
    display: block;
    width: 465px;
    height: 82px;
    background: url("../../img/icone/ondas-sonoras.png") repeat-x;
    position: absolute;
    top: 16rem;
    left: 0px;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 1rem;
    align-items: center;
    gap: 10rem;
}

.introducao-titulo span {
    text-transform: uppercase;
    color: #eeef20;
    margin-bottom: 10px;
}

.introducao-titulo h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

.introducao-texto p {
    max-width: 32ch;
    margin-bottom: 15px;
}

@media (max-width: 1000px){
    .introducao-bg::after{
        display: none;
    }
}

@media (max-width: 800px){
    .introducao{
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .introducao-titulo h1 {
        max-width: 10ch;
    }
}

@media (max-width: 450px){
    .introducao-titulo h1 {
        font-size: 2rem;
        /* max-width: 10ch; */
    }
}